<section class="mx-auto max-w-md flex flex-col gap-10">
  <h3 class="text-3xl font-semibold text-center">Métodos de pago</h3>
  <form class="grid gap-4" [formGroup]="paymentsForm" (ngSubmit)="onSubmit()">
    <div class="flex gap-4 flex-col">
      @for (field of fields; track field) {
        <app-validated-input
          class="relative"
          [config]="{
            type: field.type,
            label: field.name,
          }"
          [parentForm]="paymentsForm"
          [control]="field.control"
          [formControlName]="field.control"
        >
        </app-validated-input>
      }
    </div>

    <div class="max-w-60 mx-auto py-4">
      <app-basic-button
        [isDisabled]="paymentsForm.invalid"
        [btnConfig]="{ text: 'Guardar cambios', type: 'submit' }"
        designBtn="common"
      />
    </div>
  </form>
</section>
