<form
  (ngSubmit)="onSubmit()"
  class="max-w-4xl grid gap-8"
  [formGroup]="planningForm"
>
  <div class="grid gap-12">
    <legend class="text-3xl font-semibold pb-8">Paso 1: Planeación</legend>
    <app-basic-course-form #firstStep formControlName="basic" ngSkipHydration />
    @defer (on interaction(firstStep)) {
      @if (planningForm.controls['basic'].valid) {
        <app-select-form
          #secondStep
          class="animate-fadeIn"
          formControlName="selector"
        />
      }
    }

    @defer (when planningForm.controls['selector'].valid) {
      @if (
        planningForm.controls['selector'].valid &&
        planningForm.controls['basic'].valid
      ) {
        <app-image-uploader class="animate-fadeIn" />
      }
    }
  </div>
  <!-- <fieldset ngSkipHydration class="grid gap-12">
    <legend class="text-3xl font-semibold pb-8">
      Paso 2: Contenido del curso
    </legend>
    <app-course-content-form />
  </fieldset> -->
</form>
