<div class="field">
  <div
    class="field-content"
    [ngClass]="{
      valid: parentForm().controls[control()].status === 'VALID',
      invalid:
        parentForm().controls[control()].status === 'INVALID' &&
        parentForm().controls[control()].dirty,
    }"
  >
    <div class="flex justify-between items-center">
      <label class="field-label" [for]="[config().label]">{{
        config().label
      }}</label>
      @if (config().type === 'password') {
        <app-show-toggle-btn [(isView)]="isViewPassword" />
      }
    </div>
    <div class="field-wrapperInput">
      <input
        [id]="[config().label]"
        class="field-input"
        [disabled]="isDisabled"
        [attr.formControl]="customInput"
        [type]="!isViewPassword() ? config().type : 'text'"
        [attr.placeholder]="config().placeholder"
        (input)="onChangeValue($event)"
        (blur)="registerOnTouched(touched)"
      />
    </div>
    @if (
      parentForm().controls[control()].status === 'INVALID' &&
      parentForm().controls[control()].dirty
    ) {
      <p class="field-feedback">
        {{
          getTypeError(parentForm().controls[control()].errors!)
            | appInputValidator: { form: parentForm(), field: control() }
        }}
      </p>
    }

    <ng-content />
  </div>
</div>
