.btn {
  border-radius: 2.5rem;
  width: 100%;
  min-width: 9rem;
  transition:
    color linear 0.2s,
    background-color linear 0.2s;
  font-size: 1.1rem;
  line-height: 1rem;
  display: grid;
  place-content: center;
  align-items: center;
  border-width: 2px;
  height: 3.2rem;
  padding: 0.3rem;

  &::first-letter {
    text-transform: capitalize;
  }

  @media (width > 1200px) {
    height: 3.5rem;
    font-size: 1.25rem;
    line-height: 2rem;
    height: 3.5rem;
    padding: 1rem;
  }
}

.btn-basic-common {
  background-color: var(--primary-blue-light);
  color: var(--primary-white);
  border-color: var(--primary-blue-light);

  &:hover {
    background-color: var(--primary-blue);
  }

  &:active {
    background-color: #053b73;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25) inset;
  }

  &:disabled {
    background-color: #a9a9a9;
    border-color: #a9a9a9;

    &:active {
      box-shadow: initial;
    }
  }
}

.btb-basic--selector {
  grid-template-columns: 1fr auto;
  background-color: var(--primary-white);
  border-color: var(--primary-blue);
  letter-spacing: 0.1rem;

  &:hover {
    background-color: var(--primary-blue-light);
    color: var(--primary-white);
    border-color: var(--primary-blue-light);
  }

  &:active {
    background-color: var(--primary-blue-light);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25) inset;
  }
}

.btn-basic--large {
  width: 100%;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  background-color: var(--primary-blue-light);
  color: var(--primary-white);
  padding: 0.75rem 2rem;
  text-wrap: nowrap;

  &:disabled {
    background-color: var(--primary-blue);
  }

  @media (width >= 768px) {
    padding: 0.75rem 7rem;
  }
}

.btn-basic--light {
  background-color: var(--primary-white);
  border: solid 0.1rem var(--primary-blue);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  height: 2.5rem;

  &:hover {
    border: solid 0.1rem var(--primary-blue-light);
    background-color: var(--primary-blue-light);
    color: var(--primary-white);
  }

  &:active {
    border: solid 0.1rem var(--primary-blue);
    background-color: var(--primary-blue);
    color: var(--primary-white);
  }
}

.btn-basic--warn {
  background-color: #cc1b1b;
  color: var(--primary-white);

  &:hover {
    background-color: #b31717;
  }

  &:active {
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25) inset;
  }
}

.btn-basic--base-size {
  font-size: 1rem;
  padding: 0.5rem;
}
