<section
  class="grid lg:grid-cols-2 lg:gap-4 min-h-dvh place-content-center px-8 bg-[#F6F6F7] gap-8"
>
  <div class="grid gap-8 max-w-[500px] place-content-center">
    <header>Learn & Teach</header>
    <p class="text-5xl font-bold leading-snug">
      Bienvenido de vuelta, continuemos con tu aprendizaje.
    </p>
  </div>

  <article
    class="grid gap-6 shadow-[0px_6px_6px_rgba(0,0,0,0.25)] p-8 sm:16 lg:p-20 xl:px-28 xl:py-20 rounded-2xl max-w-[600px] max-h-[696px] bg-white"
  >
    <header class="text-center grid gap-8">
      <h2 class="text-3xl font-medium">Iniciar sesión</h2>
      <p>
        ¿No tienes una cuenta aún?
        <a class="underline font-bold capitalize" routerLink="/"> regístrate</a>
      </p>
    </header>

    <form class="grid gap-8" [formGroup]="loginForm" (submit)="onSubmit()">
      <app-input-field-wrapper>
        <label for="email"> Email</label>
        <ng-container input-field>
          <input
            class="w-full h-full rounded-xl border-transparent bg-[#D8D8D8]"
            id="email"
            name="email"
            formControlName="email"
            type="email"
          />
          @if (
            loginForm.controls['email'].status === 'INVALID' &&
            loginForm.controls['email'].dirty
          ) {
            <p class="text-red-500">
              {{
                getTypeError(loginForm.controls['email'].errors!)
                  | appInputValidator: { form: loginForm, field: 'email' }
              }}
            </p>
          }
        </ng-container>
      </app-input-field-wrapper>

      <app-input-field-wrapper>
        <label for="password"> Contraseña</label>
        <ng-container input-field>
          <input
            class="w-full h-full rounded-xl border-transparent bg-[#D8D8D8]"
            id="password"
            name="password"
            formControlName="password"
            type="password"
          />
          @if (
            loginForm.controls['password'].status === 'INVALID' &&
            loginForm.controls['password'].dirty
          ) {
            <p class="text-red-500">
              {{
                getTypeError(loginForm.controls['password'].errors!)
                  | appInputValidator: { form: loginForm, field: 'password' }
              }}
            </p>
          }
        </ng-container>
      </app-input-field-wrapper>

      <div class="grid place-content-center text-sm lg:grid-cols-2">
        <p class="text-red-500">*Contraseña incorrecta</p>
        <a class="underline w-max lg:justify-self-end" routerLink="/"
          >¿Olvidaste tu contraseña?</a
        >
      </div>

      <button
        [title]="
          loginForm.invalid
            ? 'completa los campos del formulario'
            : 'registrarse'
        "
        [disabled]="loginForm.invalid"
        class="h-14 w-full disabled:cursor-not-allowed bg-[#1E548D] rounded-[40px] text-white tracking-wider font-medium disabled:bg-[#053B73] transition-colors"
        type="submit"
      >
        Ingresar
      </button>
    </form>
  </article>
</section>
