@switch (level()) {
  @case (2) {
    <h2
      class="text-xl sm:text-2xl md:text-4xl xl:text-5xl xl:leading-normal text-balance font-bold tracking-wide"
      [ngClass]="customClass()"
    >
      {{ contentTitle() }}
      @if (textEmphasis()) {
        <span class="text-mid-blue">
          {{ textEmphasis() }}
        </span>
      }
      <ng-content />
    </h2>
  }
  @case (3) {
    <h3
      class="text-xl sm:text-2xl md:text-4xl xl:text-5xl xl:leading-normal text-balance font-bold tracking-wide"
      [ngClass]="customClass()"
    >
      {{ contentTitle() }}
      @if (textEmphasis()) {
        <span class="text-mid-blue">
          {{ textEmphasis() }}
        </span>
      }
      <ng-content />
    </h3>
  }
  @case (4) {
    <h4
      class="text-lg sm:text-xl md:text-3xl xl:text-4xl xl:leading-normal text-balance font-bold tracking-wide"
      [ngClass]="customClass()"
    >
      {{ contentTitle() }}
      @if (textEmphasis()) {
        <span class="text-mid-blue">
          {{ textEmphasis() }}
        </span>
      }
      <ng-content />
    </h4>
  }
}
