<figure
  class="shadow-[0px_6px_6px_0px_rgba(0,0,0,0.25)] rounded-xl w-min overflow-hidden"
>
  <div>
    <div class="w-96 h-56 xl:w-[500px] object-cover xl:h-[336px] relative">
      <img
        ngSrc="assets/images/card-info.webp"
        alt="Monitor con código en pantalla rodeado de bloques flotantes."
        fill
      />
    </div>
    <figcaption
      class="font-medium text-center text-xl py-4 pb-3 relative before:absolute before:h-[2px] before:w-24 before:bg-current before:left-2/4 before:-translate-x-2/4 before:bottom-0 text-primary-blue-light"
    >
      Acerca de este curso
    </figcaption>
  </div>
  <ul
    class="p-4 grid gap-4 font-normal text-base text-primary-blue-light pb-8 pt-6"
  >
    <li class="grid grid-cols-[auto_1fr] gap-3 items-center">
      <img ngSrc="assets/clock.svg" width="25" height="25" alt="clock icon" />
      <p>4 semanas, con un total de 16 horas de contenido interactivo.</p>
    </li>
    <li class="grid grid-cols-[auto_1fr] gap-3 items-center">
      <img ngSrc="assets/clock.svg" width="25" height="25" alt="check icon" />
      <p>
        No se requieren conocimientos previos. Este curso está diseñado para
        principiantes que desean iniciarse en el desarrollo web.
      </p>
    </li>
  </ul>
</figure>
