<article
  class="max-w-[22.5rem] w-full rounded-xl border-[.15rem] border-[#cac4d0a9] overflow-hidden mx-auto sm:m-auto"
>
  <figure class="relative h-40 max-w-[22.5rem] w-full">
    <img ngSrc="/assets/media.webp" alt="course cover" fill />
  </figure>
  <div class="flex flex-col gap-8 p-4">
    <header class="flex flex-col gap-1">
      <h3>Nombre del curso</h3>
      <app-rating [size]="20" />
    </header>
    <div class="max-w-48 flex justify-between gap-4">
      <div class="flex gap-4 items-center">
        <img
          ngSrc="assets/person.svg"
          alt="person icon"
          width="20"
          height="20"
        />
        <span>80</span>
      </div>
      <div class="flex gap-4 items-center">
        <img ngSrc="assets/clock.svg" alt="clock icon" width="20" height="20" />
        <span>5 hs</span>
      </div>
    </div>
    <div class="flex flex-col gap-1 items-start">
      <p>Descripción breve</p>
      <p>Por: Profesor</p>
    </div>
    <footer>
      <button
        class="py-3 px-6 max-w-72 rounded-xl w-full bg-[#E6ECF2] border-[#043466] border-[.1rem] mx-auto"
        type="button"
        (click)="onClick('html')"
      >
        Apúntate al curso
      </button>
    </footer>
  </div>
</article>
