<figure
  class="max-w-[22.5rem] w-full rounded-xl border-[.15rem] border-mid-blue overflow-hidden mx-auto sm:m-auto bg-light-white"
>
  <app-wrapper-image
    imageUrl="/assets/images/placeholder-course.webp"
    customClass="h-40 max-w-[22.5rem] w-full"
    alt="course cover"
    [isFill]="true"
  />
  <div class="flex flex-col gap-6 p-4">
    <div class="flex flex-col gap-1 text-xl">
      <figcaption>Nombre del curso</figcaption>
      <app-rating [size]="25" />
    </div>
    <div class="max-w-48 flex justify-between gap-4">
      <div class="flex gap-4 items-center">
        <app-user-svg [size]="20" />
        <span>80</span>
      </div>
      <div class="flex gap-4 items-center">
        <app-clock-svg [size]="20" />
        <span>5 hs</span>
      </div>
    </div>
    <app-list-tag
      customClass="flex flex-nowrap gap-1 overflow-hidden justify-between items-center truncate"
      [tags]="tags()"
    />
    <div class="flex flex-col gap-1 items-start">
      <p>Descripción breve</p>
      <p>Por: Profesor</p>
    </div>
    <app-basic-button
      class="px-3"
      (click)="onClick('html')"
      designBtn="light"
      [btnConfig]="{
        text: 'Apúntate al curso',
      }"
    />
  </div>
</figure>
