<section class="text-primary-blue-light grid gap-8">
  <header>
    <h2 class="text-2xl underline lg:text-6xl font-bold">Crea tu curso</h2>
    <p class="max-w-4xl py-6 text-lg">
      Comparte con la comunidad tus conocimientos y habilidades, ayuda a los
      estudiantes a profesionalizarse y monetiza tu trabajo.
    </p>
  </header>

  <div class="max-w-4xl text-primary-blue-light grid gap-8">
    <h2 class="text-2xl font-bold lg:text-5xl underline">
      Formulario de creación
    </h2>

    <app-planning-form />
  </div>
</section>
