:host {
  display: block;
}

.btn-basic-common {
  background-color: var(--primary-blue-light);
  color: var(--primary-white);
  border-color: var(--primary-blue-light);

  &:hover {
    background-color: var(--primary-blue);
  }
}

.btb-basic--selector {
  grid-template-columns: 1fr auto;
  background-color: var(--primary-white);
  border-color: var(--primary-blue);
  letter-spacing: 0.1rem;
}
