/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: #043466;
    --primary-white: #e6ecf2;
    --warn: #ff0000;
    --light-white: #fff;
    --successful: #038208;
    --bg-color: #bababa;
    --light-blue: #d1edf0;
  }

  body {
    color: var(--primary-blue);
    --primary-white: #e6ecf2;
    --primary-blue: #043466;
    --primary-blue-light: #1e548d;
    --second-background: #d8d8d8;
  }
}
