/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: #043466;
    --primary-white: #e6ecf2;
    --warn: #ff0000;
    --bg-color: #bababa;
  }

  body {
    color: var(--primary-blue);
  }
}
