<div
  class="rounded-[50%] bg-primary-blue grid place-content-center animate-fadeIn opacity-0 relative overflow-hidden"
  [ngClass]="customClass() || 'size-12'"
>
  @if (avatarInfo().photo) {
    @if (typeImage() === 'ngSrc') {
      <img
        [ngSrc]="avatarInfo().photo!"
        [alt]="[avatarInfo().name + ' photo']"
        [title]="[avatarInfo().name + ' photo']"
        fill
      />
    } @else {
      <img
        [srcset]="avatarInfo().photo!"
        [alt]="[avatarInfo().name + ' photo']"
        [title]="[avatarInfo().name + ' photo']"
      />
    }
  } @else {
    <span class="text-primary-white font-bold">{{
      avatarInfo().name | appUserAcronym
    }}</span>
  }
</div>
