<section class="flex flex-col gap-28">
  <h2
    class="w-fit text-4xl font-bold tracking-wider text-primary-blue-light relative before:absolute before:h-1 before:w-full before:border-t-[#98D5DB] before:border-2 before:border-b-primary-blue before:bottom-0 before:translate-y-1"
  >
    Descubre nuestro cursos
  </h2>
  <app-course-filter-bar />
  <div class="flex flex-col gap-20">
    <app-courses-carousel [carrouselData]="popularCourses" />
    <app-courses-carousel [carrouselData]="newCourses" />
    <app-courses-carousel [carrouselData]="freeCourses" />
  </div>
</section>
