<section class="flex flex-col gap-12 h-full">
  <h2
    class="w-fit text-4xl font-bold tracking-wider text-primary-blue-light relative"
  >
    Descubre nuestro cursos
    <app-divider class="pt-2" />
  </h2>
  <div class="grid grid-rows-[auto_1fr] gap-10 grid-cols-1 h-full">
    <app-course-filter-bar
      (click)="activeSearch()"
      class="justify-self-end z-10 row-[1/2]"
    />
    <div class="flex flex-col row-[2/3]">
      @if (!isSearchActive()) {
        <app-gallery-carousel [courseList]="(coursesList | async) ?? []" />
      }

      @defer (when isSearchActive()) {
        @if (isSearchActive()) {
          <app-gallery-course [courseList]="(coursesList | async) ?? []" />
        }
      } @loading (minimum 1s) {
        <div class="content-center mx-auto h-full">Loading...</div>
      }
    </div>
  </div>
</section>
