<figure class="grid gap-4">
  <div class="flex gap-8 items-center">
    <a
      routerLink=""
      target="_blank"
      alt="go to linkedin"
      title="go to linkedin"
      rel="noopener noreferrer"
    >
      <app-linked--in-svg [size]="50" />
    </a>
    <a
      routerLink=""
      target="_blank"
      alt="go to instagram"
      title="go to instagram"
      rel="noopener noreferrer"
    >
      <app-instagram-svg [size]="iconSize" />
    </a>
    <a
      routerLink=""
      target="_blank"
      alt="go to x"
      title="go to x"
      rel="noopener noreferrer"
    >
      <app-x-svg [size]="iconSize" />
    </a>
  </div>
  <figcaption class="text-center">© 2024 Learn & Teach</figcaption>
</figure>
