<app-auth-layout imageComplementary="assets/images/register-image.webp">
  <article
    class="grid gap-6 shadow-[0px_6px_6px_rgba(0,0,0,0.25)] p-8 sm:16 xl:p-20 xl:px-28 xl:py-20 rounded-xl max-w-[600px] bg-white"
  >
    <header class="text-center grid gap-8">
      <h3 class="text-3xl font-medium">¿Has olvidado la contraseña?</h3>
      <p>
        Te enviaremos un enlace por correo electrónico para que puedas
        restablecer tu contraseña.
      </p>
    </header>
    <ng-container
      *ngrxLet="{ isLoading: isSubmitted$, isError: isErrored$ } as formState"
    >
      @if (formState.isLoading) {
        <app-loader loaderMessage="Enviando solicitud" emoji="♻️♻️♻️" />
      } @else if (formState.isError) {
        <app-error-message [customMessage]="formState.isError" />
        <app-basic-button
          (click)="resetError()"
          designBtn="large"
          [btnConfig]="{ text: 'Reintentar' }"
        />
      } @else {
        <app-form-recovery />
      }
    </ng-container>
    <p class="text-center pt-8">
      ¿Ya tienes una cuenta?
      <a class="underline font-bold capitalize" routerLink="/auth/login">
        Inicia sesión</a
      >
    </p>
  </article>
</app-auth-layout>
