<header>
  <nav class="flex justify-between items-center py-6">
    <h1 aria-label="learn teach">
      <app-main-logo customClass="h-12 w-36 xl:h-16 xl:w-52" />
    </h1>
    <div class="flex gap-4">
      <app-basic-button
        [designBtn]="'selector'"
        [btnConfig]="{
          text: 'cursos',
          icon: 'assets/arrow.svg',
          label: 'ver cursos',
        }"
      />
      <app-search-bar />
    </div>
    @if (isLogged | async) {
      <app-navbar-user />
    } @else {
      <div class="flex gap-8">
        <app-basic-button
          (click)="navigateTo('/learn-teach/auth/login')"
          [btnConfig]="{ text: 'ingresar' }"
        />
        <app-basic-button
          (click)="navigateTo('/learn-teach/auth/register')"
          [btnConfig]="{ text: 'registrarse' }"
        />
      </div>
    }
  </nav>
</header>
