<div>
  <nav class="flex justify-between items-center py-6">
    <header>
      <h1
        class="sr-only"
        aria-level="1"
        aria-label="Learn Teach,plataforma virtual de educación"
      >
        Learn Teach: plataforma virtual de educación
      </h1>
      <app-main-logo customClass="h-10 w-36 xl:h-14 xl:w-64" />
    </header>
    <app-basic-button
      class="hidden lg:block"
      [designBtn]="'selector'"
      [btnConfig]="{
        text: 'Cursos',
        icon: 'assets/arrow.svg',
        label: 'ver cursos',
      }"
    />
    <app-search-bar class="hidden sm:block" />
    <div class="hidden lg:block">
      @if (isLogged | async) {
        <app-navbar-user />
      } @else {
        <div class="flex gap-8">
          <app-basic-button
            (click)="navigateTo('/auth/login')"
            [btnConfig]="{ text: 'Ingresar' }"
          />
          <app-basic-button
            (click)="navigateTo('/auth/register')"
            [btnConfig]="{ text: 'Registrarse' }"
          />
        </div>
      }
    </div>
    <app-dropdown-user-mobile class="block lg:hidden" />
  </nav>
</div>
