<section class="grid gap-8" *ngrxLet="{ courseInfo: courseInfo$ } as data">
  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col gap-20 max-w-[38rem]">
      <app-presentation-course [detailsCourse]="data.courseInfo.details" />

      @defer (on viewport()) {
        <app-syllabus [contentSyllabus]="data.courseInfo.syllabus" />
      } @placeholder {
        <app-light-loader />
      }

      @defer (on viewport()) {
        <app-article-list
          [isViewMarker]="true"
          [level]="3"
          [listData]="data.courseInfo.skillsToBeGained"
          title="¿Que aprenderás?"
        />
      } @placeholder {
        <app-light-loader />
      }

      @defer (on viewport()) {
        <app-article-list
          [isViewMarker]="true"
          [level]="3"
          [listData]="data.courseInfo.requirements"
          title="Requisitos:"
        />
      } @placeholder {
        <app-light-loader />
      }
    </div>

    <app-card-video
      [cardData]="data.courseInfo.courseSummary"
      customClass="sticky top-0 mx-auto"
      [isPaid]="data.courseInfo.isPaid"
      [priceCourse]="data.courseInfo.paidInfo?.price"
    />
  </div>

  @defer (on viewport()) {
    <app-community-info #community class="self-center" />
  } @placeholder {
    <app-light-loader />
  }
</section>
