<section class="grid gap-8">
  <div class="grid grid-cols-2 gap-4">
    @if (courseInfo$ | async; as courseInfo) {
      <div class="flex flex-col gap-20 max-w-[38rem]">
        <app-presentation-course [detailsCourse]="courseInfo.details" />
        <app-syllabus [contentSyllabus]="courseInfo.syllabus" />
        <app-article-list
          [isViewMarker]="true"
          [level]="3"
          [listData]="courseInfo.skillsToBeGained"
          title="¿Que aprenderás?"
        />
        <app-article-list
          [isViewMarker]="true"
          [level]="3"
          [listData]="courseInfo.requirements"
          title="Requisitos:"
        />
      </div>
      <app-card-video
        [cardData]="courseInfo.courseSummary"
        customClass="sticky top-0 mx-auto"
        [isPaid]="courseInfo?.isPaid"
        [priceCourse]="courseInfo.paidInfo?.price"
      />
    } @else {
      <p class="text-center grid-col-[1/end]">aquí debe ir un Skeleton</p>
    }
  </div>
  @defer (on viewport()) {
    <app-community-info #community class="self-center" />
  } @placeholder {
    <p>loading...</p>
  }
</section>
